
alias ..="cd .."

alias c="clear"
alias e="exit"
alias h="history"
alias j="jobs"

# vim
alias v="vim"
alias vi="vim"
alias view="vim -R"

# git
alias g="git"
alias gl='git log --pretty=format:'\''%Cred%h %Cgreen%ad%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'\'' --abbrev-commit --date=short'
alias gs='git status'
alias gss='git status --short'
alias gd='git diff'
alias gp='git pull'
alias gf='git fetch'

# ls
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

alias l="ls -lhF ${colorflag}"
alias ls="ls -h ${colorflag}"
alias ll="ls -lAhF ${colorflag}"

# tmux
alias t="tmux"
alias tls='tmux ls'

# lsof
alias lsof='lsof -n -P'

# nmap
alias nmap='nmap -n -Pn'

# pstree
alias pstree='pstree -g 2'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# DNS
alias flushdns="dscacheutil -flushcache && killall -HUP mDNSResponder"