# Decode base64
function decode() {
    echo "$1" | base64 --decode ; echo
}

# rgrav wrapper to be able to use a branch version
function rgrav() {
    command="$@";
    I_REALLY_WANT_TO_USE_AN_UNSTABLE_VERSION_OF_RGRAV=yes ~/projects/rgrav/rgrav "$command";
}

# docker stop & rm
function docker-clean() {
    docker stop $(docker ps -a -q -f name=$1) && docker rm $(docker ps -a -q -f name=$1)
}

# VPN ip (assumes vpn is eth2)
# Use with `route add <ip> $(vpnip)`
function vpnip() {
  ip="$(ifconfig eth2 |grep "inet addr" | cut -d " " -f 12,1 | cut -d ":" -f 2)"
  echo $ip
}

# De/activate a virtualenv. Parameter is the name of the venv to activate.
function venv() {
  if [[ ! -n $VIRTUAL_ENV ]]; then
    venv_dir="$HOME/.local/share/virtualenvs"
    if [[ ! -f $venv_dir/$1/bin/activate ]]; then
      echo "No virtualenv '$1' found in $venv_dir";
      echo Found:
      ls --color=never $venv_dir;
      return;
    fi

    source $venv_dir/$1/bin/activate;
  else
    deactivate;
  fi
}
